/**
 * Every step element has one of three classes: `future`, `present` and `past`.
 * Only one current step has the `present` class.
 * When a step is shown (selected) its element gets the class of "active" and 
 * the body element gets the class `impress-on-ID` where ID is the step's id.
 */

.notes {
    display:none;
}

.step h2 {
    font-size: 78px;
    font-weight: bold;
}

#title h1 {
	font-size: 100px;
}


.step:not(.active) { opacity: 0.2; }

.step.hide:not(.active) { opacity: 0; }

.step:not(.active) .hide {
	transition: opacity 0.5s ease;
	opacity: 0;
}

